@mixin text-style($fw, $fz, $lh, $color) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  color: $color;
}

@mixin italic() {
  font-style: italic;
}

@mixin color-gradient($lg) {
  background: $lg;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin hover-scale(){
  transition: all .3s;

  &:hover{
    transform: scale(1.1);
  }
}